<h1 class="animated fadeIn fast">Sobre comic App</h1>
<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quidem dolore nobis, officia, dolorum ex at nisi
    veniam et consectetur perferendis incidunt? Autem itaque optio molestias, cupiditate earum illum beatae!</p>