<div class="card mb-3 p-5">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="heroe.img" class="card-img" [alt]="heroe.nombre ">
      <button class="btn btn-outline-danger btn-block mt-4" (click)="regresar()">Regresar</button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre | uppercase }}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion | date:'medium' }}</small></p>

        <img *ngIf="heroe.casa=='DC'" class="img-universo" src="assets/img/dc.png" [alt]="heroe.nombre">
        <img *ngIf="heroe.casa=='Marvel'" class="img-universo" src="assets/img/marvel.png" [alt]="heroe.nombre">
      </div>
    </div>
  </div>
</div>