<h1>Héroes <small>Marvel y DC</small></h1>
<div class="card-columns">
    <app-tarjeta-heroe *ngFor="let heroe of heroes;let i=index" [i]="i" [heroe]="heroe" (verHeroeEmit)="verHeroe($event)" >
    </app-tarjeta-heroe>
</div>