<h1>Buscando : <small>{{termino}}</small></h1>

<div class="row" *ngIf="heroes.length==0">
    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            Tu busqueda no coinciden con nuestros registros
        </div>
    </div>
</div>

<div class="card-columns">
    <app-tarjeta-heroe *ngFor="let heroe of heroes;let i=index" [i]="i" [heroe]="heroe" (verHeroeEmit)="verHeroe($event)">
    </app-tarjeta-heroe>
</div>