<div class="card">
    <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver más...</a> -->
        <button class="btn btn-outline-primary btn-block" (click)="verHeroe()"> Ver más.. </button>
    </div>
</div>
